.secao_banner {
    height: 80vh;
    background-image: url(../../../../public/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.secao_banner div {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secao_banner p,
.secao_banner h1 {
    max-width: 550px;
    font-family: 'Anybody', cursive;
    padding-left: 50px;
}

.secao_banner p {
    font-size: 36px;
    color: rgb(211, 173, 47);
    text-shadow: 3px 3px 5px gray;
    font-weight: bold;
}

.secao_banner h1 {
    text-transform: uppercase;
    color: chocolate;
    text-shadow: 3px 3px 5px gray;
    font-size: 40px;
    line-height: 60px;
}

@media (max-width: 768px) {
    .secao_banner h1 {
        font-size: 25px;
        line-height: 30px;
    }
    
    .secao_banner p {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .secao_banner h1 {
        background-position: 90% center;
    }
}